<section class="s-about">
  <div class="b-img">
    Инфоцентр
  </div>
  <div class="container">
    <div class="b-info">
      <div class="b-info__caption">
        <h1 class="b-info__title">
          О Gurman Food
        </h1>
        <span class="b-info__text">
          Gurman Food, платформа которая поможет вам найти идеально заведение для себя и своим родных. Ценители вкусно поесть используют сайт для того, что бы посмотреть отзывы и комментарии о сотни ресторанов по всему Минску. На этапе планирования клиенты обращаются к Gurman Food для сравнения цен, знакомста с меню, особесснотями заведенияи и бронирования столиков. Gurman Food, незаменимый помощник для тех кто любит вкусно поесть и провести приятный вечер в любимом заведении.
        </span>
      </div>
      <div class="b-info__img">
      </div>
    </div>
  </div>
</section>
