<header class="header">
  <div class="container">
    <div class="header-content">
      <div class="header-logo">
        <a class="header-logo__link" href="#" routerLink="home">
          <img class="header-logo__link-img" src="../../../assets/logo.jpg" alt="Logo">
          <h3 class="header-logo__link-title">Gurman Food</h3>
        </a>
      </div>
      <div class="b-info">
        <nav class="b-nav">
          <ul l-list>
            <li class="l-list__item">
              <a class="l-list__item-link" href="#" routerLink="#">
                <p class="l-list__item-link__text">Link</p>
              </a>
            </li>
            <li class="l-list__item">
              <a class="l-list__item-link" href="#" routerLink="#">
                <p class="l-list__item-link__text">Link</p>
              </a>
            </li>
            <li class="l-list__item">
              <a class="l-list__item-link" href="#" routerLink="#">
                <p class="l-list__item-link__text">Link</p>
              </a>
            </li>
          </ul>
        </nav>
        <div class="b-register">
          <button class="btn-register__sing-in" type="button" name="sing-in">
            <p>Войти</p>
          </button>
          <button class="btn-register__log-in" type="button" name="register">
            <p>Регистрация</p>
          </button>
        </div>
      </div>
    </div>
  </div>
</header>

