@import "../../../scss/abstracts/variables.scss";
@import "../../../scss/abstracts/mixins.scss";

.header-content {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 15px 0;
}

.header-logo {

  &__link {
    display: flex;
    align-items: center;

    &-img {
      width: 60px;
    }

    &-title {
      font-family: $logoFont;
      font-size: 55px;
      font-weight: 400;
      letter-spacing: 1.5px;
      margin-left: 15px;
    }
  }
}

.b-info {
  min-width: 900px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-left: 10px;
}

.l-menu {
  margin-right: 15px;

  &__item {
    margin-left: 25px;
    border: 3px solid $mainColor;
    border-radius: 12px;
    transition: border-color .3s ease-in-out;

    &:first-child {
      margin-left: 0;
    }

    &:hover {
      border-color: #000;
    }

    &-link {
      padding: 10px 15px;

      &__text {
        font-size: 20px;
        font-family: $secondColor;
        font-weight: 600;
        text-transform: capitalize;
      }
    }
  }
}

.b-register {
  height: 52px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-left: 10px;

  &__user {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid $secondColor;
    transition: box-shadow .3s ease-in-out;

    &:hover {
      box-shadow: 0 0 20px $secondColor;
    }
  }

  &__btn {
    padding: 10px 15px;
    border: 3px solid $mainColor;
    background-color: #000;
    border-radius: 12px;
    margin-left: 12px;
    transition: box-shadow .3s ease-in-out;
    color: $mainColor;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;

    &:hover {
      box-shadow: 0 0 20px $secondColor;
    }
  }
}
