<header class="header">
  <img class="logo" src="" alt="Logo">
  <div class="search">
    <form class="search-form" action="">
      <input class="search-form_input" type="search">
      <input class="search-form_btn" type="submit" value="Найти">
    </form>
  </div>
  <div class="btn">
    <button class="btn_sign-in">Войти</button>
    <button class="btn_log-in">Регистрация</button>
  </div>
  <nav class="menu">
    <ul class="l-menu">
      <li class="l-menu_item">
        <a class="menu_item-main" routerLink="/">Главная</a>
      </li>
      <li class="l-menu_item">
        <a class="menu_item-restaurants" routerLink="/">Рестораны</a>
      </li>
      <li class="l-menu_item">
        <a class="menu_item-map" routerLink="/">Карты</a>
      </li>
    </ul>
  </nav>
</header>

