<header class="header">
  <div class="container">
    <div class="header-content">
      <div class="header-logo">
        <a class="header-logo__link" href="#" routerLink="home">
          <img class="header-logo__link-img" src="../../../assets/logo.png" alt="Logo">
          <h3 class="header-logo__link-title">Gurman Food</h3>
        </a>
      </div>
      <div class="b-info">
        <nav class="b-nav">
          <ul l-menu>
            <li class="l-menu__item">
              <a class="l-menu__item-link" href="#" routerLink="#">
                <p class="l-menu__item-link__text">Link</p>
              </a>
            </li>
            <li class="l-menu__item">
              <a class="l-menu__item-link" href="#" routerLink="#">
                <p class="l-menu__item-link__text">Link</p>
              </a>
            </li>
            <li class="l-menu__item">
              <a class="l-menu__item-link" href="#" routerLink="#">
                <p class="l-menu__item-link__text">Link</p>
              </a>
            </li>
          </ul>
        </nav>
        <div class="b-register">
          <button class="btn-register__sing-in" type="button" name="sing-in" (click)="openEntryForm()">
            <p>Вход</p>
          </button>
          <button class="btn-register__log-in" type="button" name="register"  (click)="openRegistrationForm()">
            <p>Регистрация</p>
          </button>
        </div>
      </div>
    </div>
  </div>
</header>

