<section class="s-slider">
    <div class="b-title">
      <h2 class="b-title__text">{{nameRestaurants}}</h2>
    </div>
    <owl-carousel-o [options]="customOptions">
      <ng-template carouselSlide *ngFor="let item of restaurants">
        <ul class="l-restaurants">
          <li class="l-restaurants__item">
            <div class="l-restaurants__item-info">
              <div class="l-restaurants__item-background">
                <img class="l-restaurants__item-img" src="{{item.images[0]}}" title="{{item.name}}" alt="{{item.name}}">
              </div>
              <div class="l-restaurants__item-text">
                <h4 class="l-restaurants__item-text-name">{{item.name}}</h4>
                <a class="l-restaurants__item-text-web" href="{{item.webSiteUrl}}">Сайт</a>
                <a class="l-restaurants__item-text-menu" href="{{item.menuLink}}">Меню</a>
                <p class="l-restaurants__item-text-kitchen">Кухня: {{item.kitchen}}</p>
                <img src="../../../assets/donut.png" alt="donut" class="l-restaurants__item-text-img">
              </div>
            </div>
          </li>
        </ul>
      </ng-template>
    </owl-carousel-o>
</section>
