@import "../../../scss/abstracts/variables.scss";
@import "../../../scss/abstracts/mixins.scss";


  .l-restaurants__item {
    margin: 10px 0;
    width: 400px;
    height: 300px;

    .l-restaurants__info {
      background-color: #ecefef;
      font-size: 20px;
      text-align: center;

      .l-restaurants__img {
        height: 300px;
        width: 400px;
      }

      .l-restaurants__info-web {
        margin-right: 10px;
        text-decoration: underline;
      }

      .l-restaurants__info-menu {
        text-decoration: underline;
      }
    }
  }

.b-title__text {
  text-align: center;
  font-size: 36px;
  margin-bottom: 10px;
}
.b-title__filter {
  font-size: 30px;
}
