@import "abstracts/variables.scss";
@import "abstracts/mixins.scss";


.s-slider {
  padding: 50px 20px;
}
.l-restaurants {
  margin: 0 -10px;

  &__item {
  margin: 10px 0;
  padding: 0 20px;
  width: 100%;
  height: 100%;

    &-info {
      font-size: 20px;
      text-align: center;
      height: 100%;
    }

    &-background {
      border: 1px solid;
      border-radius: 12px;
      margin-bottom: 10px;
      overflow: hidden;

      a {
        display: block;
      }
    }

    &-img {
      height: 400px;
    }

    &-text {
      padding: 10px;
      background-color: #ecefef;
      border-radius: 12px;
      border: 1px solid;
      position: relative;

      img {
        width: 100px;
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        margin: auto;
      }


      &-name {
        margin: 10px 0;
      }

      &-web {
        margin-right: 10px;
        text-decoration: underline;
      }

      &-menu {
        text-decoration: underline;
      }

      &-kitchen {
        margin-top: 10px;
      }

    }

  }
}



.b-title__text {
  text-align: center;
  font-size: 36px;
  margin-bottom: 10px;
}
.b-title__filter {
  font-size: 30px;
}
