@import "abstracts/variables.scss";
@import "abstracts/mixins.scss";

.s-search {
  padding-top: 20px;
}
.b-kitchen__title{
  text-align: center;
  font-size: 25px;
  margin-bottom: 20px;
  border-radius: 10px;
  border: 1px solid;
  width: 100%;
  padding: 5px 0;
  margin: 20px auto;
}

.l-kitchen {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin:0 -5px 30px;

  &__item {
    width: 33.3333%;
    padding: 0 5px;

    &:nth-child(n+4) {
      margin-top: 10px;
    }

    &-link {
      height: 100%;
      width: 100%;
      padding: 10px;
      text-align: center;
      font-size: 18px;
      font-weight: 600;
      border: 1px solid;
      border-radius: 10px;
      background-color: $mainColor;
      color: #000;
      transition: background-color .2s ease-in-out, color .2s ease-in-out;

      &:hover {
        background-color: #000;
        color: $mainColor;
      }

      &:hover svg {
        stroke: $mainColor;
      }

      svg {
        transition: stroke .2s;
      }
    }
  }
}

.b-search {
  width: 100%;
  border-radius: 20px;
  background: url(~assets/cover.jpg) no-repeat center;
  background-size: cover;
  overflow: hidden;
  padding: 200px 100px;

  &__content {
    width: 100%;

    &-title {
      padding: 20px 30px;
      background-color: rgba(0,0,0,.5);
      font-size: 30px;
      font-weight: 600;
      color: $mainColor;
      border-radius: 12px;
      margin-bottom: 25px;
      text-align: center;
      text-transform: uppercase;
    }
  }
}


.f-search {
  padding: 20px 50px;
  border-radius: 12px;
  box-shadow: 0 4px 4px rgba(0,0,0,.25);
  position: relative;
  overflow: hidden;
  background-color: $mainColor;
  position: relative;

  &__field{
    width: 100%;
    font-size: 20px;
  }

  &__icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 20px;
  }
}

@include largeDesktops {
  .b-search {
    padding: 100px;
  }
}

@include mediumDesktops {
  .b-search__content-title {
    font-size: 25px;
  }
}

@include landscapePhones {
  .l-kitchen__item-link {
    font-size: 15px;
  }

  .b-kitchen__title {
    font-size: 15px;
  }
}

@include mPhones {
  .l-kitchen__item {
    width: 50%;

    &:nth-child(n+3) {
      margin-top: 10px;
    }
  }
}

@include smallDesktops {

  .b-search {
    padding: 50px;
  }

  .b-search__content-title {
    font-size: 30px;
    padding: 15px;
  }
}

@include landscapePhones {
  .f-search {
    padding: 10px 50px;

    &__field {
      font-size: 15px;
    }
  }

  .b-search__content-title {
    font-size: 20px;
  }
}

@include mPhones {
  .b-search__content-title {
    font-size: 15px;
  }
}
