@import "../../../scss/abstracts/variables.scss";
@import "abstracts/mixins.scss";

.s-search {
  padding: 50px 0;
}

.l-kitchen {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 50px;

  &__item {
    border: 1px solid;
    border-radius: 10px;
    background-color: $mainColor;
    color: #000;
    transition: background-color .2s ease-in-out, color .2s ease-in-out;
    position: relative;


    &:hover {
      background-color: #000;
      color: $mainColor;
    }

    &-link {
      width: 100%;
      min-width: 200px;
      height: 100%;
      padding: 20px;
      text-align: center;


      &__text {
        font-size: 20px;
        font-weight: 600;
      }
    }
  }
}

.b-search {
  width: 100%;
  border-radius: 20px;
  background: url(../../../assets/cover.jpg) no-repeat center;
  background-size: cover;
  overflow: hidden;
  padding: 200px 100px;

  &__content {
    width: 100%;

    &-title {
      padding: 20px 30px;
      background-color: rgba(0,0,0,.5);
      font-size: 60px;
      font-weight: 600;
      color: $mainColor;
      border-radius: 12px;
      margin-bottom: 25px;
      text-align: center;
      text-transform: uppercase;
    }
  }
}


.f-search {
  padding: 20px 50px;
  border-radius: 12px;
  box-shadow: 0 4px 4px rgba(0,0,0,.25);
  position: relative;
  overflow: hidden;
  background-color: $mainColor;
  position: relative;

  &__field{
    width: 100%;
    font-size: 20px;
  }

  &__icon {
    position: absolute;
    top: 21px;
    left: 20px;
  }
}

