@import "../../../../../scss/abstracts/variables.scss";
@import "../../../../../scss/abstracts/mixins.scss";

.s-user {
  background-color: #f7f7f7;
  padding: 100px 0;
}

.b-user__header {
    background-color: #fff;
    padding: 15px;

    &-content {
        display: flex;
        margin-bottom: 15px;
        
        &__img {
            width: 120px;
            height: 120px;
            border-radius: 50%;
            border: 2px solid blueviolet;
            margin-right: 25px;
        }
        
        &__info {
        
            &-name {
                font-size: 24px;
                font-weight: 700;
            }
        
            &-login {
                font-size: 17px;
                font-weight: 700;
                color: #8c8c8c;
            }
        }     
    }
}

.l-tabs {

    &__item {
        margin-left: 20px;

        &-link {
            font-size: 20px;
            font-weight: 700;
            padding: 0 5px;
            border-bottom: 2px solid transparent;

            &:hover {
                border-color: $secondColor;
            }
        }

        &:first-child {
            margin-left: 0;
        }
    }
}

