<section class="s-user">
    <div class="container">
        <div class="b-user__header">
            <div class="b-user__header-content">
                <div class="b-user__header-content__img">
                    <img src="../../../../../assets/user.png" alt="USer Logo">
                </div>
                <div class="b-user__header-content-info">
                    <h2 class="b-user__header-content__info-name">{{userFirstName + ' ' + userLastName}}</h2>
                    <p class="b-user__header-content__info-login">{{userLogin}}</p>
                </div>
            </div>
            <nav class="n-tabs">
                <ul class="l-tabs">
                    <li class="l-tabs__item">
                        <a routerLink="info" class="l-tabs__item-link">
                            Карточка профиля
                        </a>
                    </li>
                    <li class="l-tabs__item">
                        <a routerLink="favourites" class="l-tabs__item-link">
                             Избранное
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</section>
<router-outlet></router-outlet>
