<section class="s-restaurant">
  <div class="container">
    <div class="b-restaurant__content" *ngIf="restaurant">
      <div class="b-restaurant__content-info">
        <div class="b-restaurant__content-header">
          <h1 class="b-restaurant__content-title">{{restaurant.name}}</h1>
          <div class="b-restaurant__content-buttons">
          </div>
        </div>
        <p class="b-restaurant__content-kitchen">{{restaurant.kitchen}}</p>
        <ul class="l-info">
          <li class="l-info__item">
            <div class="l-info__item-content">
              <img src="../../../assets/location-icon.svg" alt="location">
              <p class="l-info__item-text">{{restaurant.address}}</p>
            </div>
          </li>
          <li class="l-info__item">
            <div class="l-info__item-content">
              <img src="../../../assets/phone-icon.svg" alt="phone">
              <a href="tel:{{restaurant.phoneNumber}}" class="l-info__item-text">{{restaurant.phoneNumber}}</a>
            </div>
          </li>
          <li class="l-info__item">
            <div class="l-info__item-content">
              <img src="../../../assets/laptop-icon.svg" alt="phone">
              <a href="" class="l-info__item-text">Перейти на сайт</a>
            </div>
          </li>
          <li class="l-info__item">
            <div class="l-info__item-content">
              <img src="../../../assets/eat-icon.svg" alt="menu">
              <a href="" class="l-info__item-text">Меню</a>
            </div>
          </li>
          <li class="l-info__item">
            <div class="l-info__item-content">
              <img src="../../../assets/time-icon.svg" alt="clock">
              <p class="l-info__item-text">{{restaurant.time}}</p>
            </div>
          </li>
        </ul>
      </div>

      <div class="b-restaurant__content-wrapper">
        <owl-carousel-o [options]="customOptions">
          <ng-template carouselSlide *ngFor="let item of restaurant.images">
            <div class="b-restaurant__content-images">
              <img src="{{item}}" alt="{{restaurant.name}}">
            </div>
          </ng-template>
        </owl-carousel-o>
      </div>
    </div>

    <div class="b-reviews">
      <iframe
        class="b-reviews__content"
        [src]="iframeSrc"></iframe>
    </div>
  </div>
</section>
