<section class="s-restourant">
  <div class="container">
    <div class="b-restourant__content">
      <div class="b-restourant__content-info">
        <div class="b-restourant__content-header">
          <h1 class="b-restourant__content-title">Title</h1>
          <div class="b-restourant__content-buttons">
            <button class="btn-like" type="submit">
              <img class="btn-like__icon" src="../../../assets/heart-icon.svg" alt="like">
              <p class="btn-like__text">
                Добавить в избранное
              </p>
            </button>
            <button class="btn-visited" type="submit">
              <img class="btn-like__icon" src="../../../assets/sharei-icon.svg" alt="share">
              <p class="btn-visited__text">
                Добавить в посещенные
              </p>
            </button>
          </div>
        </div>
        <p class="b-restourant__content-kitchen">kitchen</p>
        <ul class="l-info">
          <li class="l-info__item">
            <div class="l-info__item-content">
              <img src="../../../assets/location-icon.svg" alt="location">
              <p class="l-info__item-text">Address</p>
            </div>
          </li>
          <li class="l-info__item">
            <div class="l-info__item-content">
              <img src="../../../assets/phone-icon.svg" alt="phone">
              <a href="tel:1234567" class="l-info__item-text">Phone</a>
            </div>
          </li>
          <li class="l-info__item">
            <div class="l-info__item-content">
              <img src="../../../assets/laptop-icon.svg" alt="phone">
              <a href="" class="l-info__item-text">Веб-сайт</a>
            </div>
          </li>
          <li class="l-info__item">
            <div class="l-info__item-content">
              <img src="../../../assets/eat-icon.svg" alt="menu">
              <a href="" class="l-info__item-text">Меню</a>
            </div>
          </li>
          <li class="l-info__item">
            <div class="l-info__item-content">
              <img src="../../../assets/time-icon.svg" alt="clock">
              <p class="l-info__item-text">Time</p>
            </div>
          </li>
        </ul>

      </div>
      <div class="b-restourant__content-images">
        <img src="" alt="">
        <img src="" alt="">
        <img src="" alt="">
      </div>
    </div>
  </div>
</section>
