@import "abstracts/variables.scss";
@import "abstracts/mixins.scss";

.s-restourant {
  padding: 50px 0;
  background-color: rgba(0, 0, 0, 0.4);
}

.b-restourant__content {
  margin-bottom: 30px;

  &-info {
    background-color: $mainColor;
    border-radius: 12px;
    padding: 20px;
    margin-bottom: 20px;
  }

  &-header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;;
  }

  &-title {
    font-size: 50px;
    font-weight: 700;
  }

  &-buttons {
    display: flex;
    align-items: center;
  }

  &-kitchen {
    font-size: 20px;
    color: #8c8c8c;
  }

  &-images {
    background-color: $mainColor;
    padding: 20px 0;
    border-radius: 12px;
    display: flex;
    
    div {
      width: 100%;
      padding: 0 10px;

      img {
        width: 100%;
        font-size: 0;
      }
    }
  }
}

.btn-like, .btn-visited {
 display: flex;
 align-items: center;
 padding: 0 10px;
 border-right: 1px solid #8c8c8c;

  &__text {
    margin-left: 15px;
  }

  &:hover .btn-like__text {
    text-decoration: underline;
  }
}

.btn-like__icon.active, .btn-visited__icon.active {
  fill: $secondColor;
}

.btn-visited {
  border-right: none;

  &:hover .btn-visited__text {
    text-decoration: underline;
  }
}


.btn-visited__text, .btn-like__text {
  font-size: 20px;
}

.l-info {
  margin-top: 20px;

  &__item {
    padding: 5px 0;
    margin-left: 15px;

    &:first-child {
      margin-left: 0;
    }

    &-content {
      display: flex;
      align-items: center;
    }

    &-text {
      font-size: 20px;
      margin-left: 10px;
      border-right: 1px solid #8c8c8c;
      padding-right: 15px;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.b-reviews {
  max-width: 760px;
  height: 600px;
  margin: 0 auto;
  overflow: hidden; 
  border-radius: 12px;

  &__content {
    width: 100%;
    height: 100%;
    border: 1px solid #e6e6e6;
  }
}
