<form 
  class="f-registration"
  action="#"
  name="test"
  [formGroup]="logInForm"
  (submit)="onLogInSubmit($event)"
>
  <div class="f-registration__text">
    <h2 class="f-registration__text-entry">Регистрация</h2>
  </div>

  <mat-form-field class="f-registration__line">
    <mat-label class="f-registration__input">Имя</mat-label>
    <input
      type="text"
      name="firstName"
      formControlName="firstName"
      placeholder="Имя"
      class="f-registration__field"
      matInput
    >
    <mat-error *ngIf="logInForm.controls.firstName.hasError('required')">
      Заполните поле!
    </mat-error>
  </mat-form-field>

  <mat-form-field class="f-registration__line">
    <mat-label class="f-registration__input">Фамилия</mat-label>
    <input
      type="text"
      name="lastName"
      formControlName="lastName"
      placeholder="Фамилия"
      class="f-registration__field"
      matInput
    >
    <mat-error *ngIf="logInForm.controls.lastName.hasError('required')">
      Заполните поле!
    </mat-error>
  </mat-form-field>

  <mat-form-field class="f-registration__line">
    <mat-label class="f-registration__input">Email</mat-label>
    <input
      type="email"
      name="email"
      formControlName="email"
      placeholder="Email"
      class="f-registration__field"
      matInput
    >
    <mat-error *ngIf="logInForm.controls.email.hasError('required')">
      Заполните поле!
    </mat-error>
    <mat-error *ngIf="logInForm.controls.email.hasError('pattern')">
      Неправильный формат электронного адреса
    </mat-error>
  </mat-form-field>

  <mat-form-field class="f-registration__line">
    <mat-label class="f-registration__input">Логин</mat-label>
    <input
      type="text"
      name="login"
      formControlName="login"
      placeholder="Логин"
      class="f-registration__field"
      matInput
    >
    <mat-error *ngIf="logInForm.controls.login.hasError('required')">
      Заполните поле!
    </mat-error>
  </mat-form-field>

  <mat-form-field class="f-registration__line">
    <mat-label class="f-registration__input">Пароль</mat-label>
    <input
      type="password"
      name="password"
      formControlName="password"
      placeholder="Пароль"
      class="f-registration__field"
      matInput
    >
    <mat-error *ngIf="logInForm.controls.password.hasError('required')">
      Заполните поле!
    </mat-error>
    <mat-error *ngIf="logInForm.controls.password.hasError('minlength')">
      Пароль должен содержать минимум 6 символов
    </mat-error>
    <mat-error *ngIf="logInForm.controls.password.hasError('maxlength')">
      Пароль должен содержать максимум 20 символов
    </mat-error>
  </mat-form-field>

  <mat-form-field class="f-registration__line">
    <mat-label class="f-registration__input">Повторите пароль</mat-label>
    <input
      type="password"
      name="confirmPassword"
      formControlName="confirmPassword"
      placeholder="Повторите пароль"
      class="f-registration__field"
      matInput
    >
    <mat-error *ngIf="logInForm.controls.confirmPassword.hasError('required')">
      Заполните поле!
    </mat-error>
  </mat-form-field>
  <mat-dialog-content class="f-registration__line-confirm" *ngIf= "confirmPassword">*Пароли не совпадают*</mat-dialog-content>
  <div class="f-registration__btn">
    <button *ngIf="!success" class="f-registration__btn-entry" mat-raised-button [disabled]="!this.logInForm.valid" type="submit">Зарегистрироваться</button>
    <h4 class="f-registration__succsess-text" *ngIf="success"> Спасибо за регистрацию </h4>
  </div>
</form>
