<section class="s-search">
  <div class="container">
    <ul class="l-kitchen">
      <li class="l-kitchen__item">
        <a href="#" routerLink="" class="l-kitchen__item-link">
          <p class="l-kitchen__item-link__text">Русская</p>
        </a>
      </li>
      <li class="l-kitchen__item">
        <a href="#" routerLink="" class="l-kitchen__item-link">
          <p class="l-kitchen__item-link__text">Итальянская</p>
        </a>
      </li>
      <li class="l-kitchen__item">
        <a href="#" routerLink="" class="l-kitchen__item-link">
          <p class="l-kitchen__item-link__text">Французская</p>
        </a>
      </li>
      <li class="l-kitchen__item">
        <a href="#" routerLink="" class="l-kitchen__item-link">
          <p class="l-kitchen__item-link__text">Немецкая</p>
        </a>
      </li>
      <li class="l-kitchen__item">
        <a href="#" routerLink="" class="l-kitchen__item-link">
          <p class="l-kitchen__item-link__text">Китайская</p>
        </a>
      </li>
      <li class="l-kitchen__item">
        <a href="#" routerLink="" class="l-kitchen__item-link">
          <p class="l-kitchen__item-link__text">Японская</p>
        </a>
      </li>
      <li class="l-kitchen__item">
        <a href="#" routerLink="" class="l-kitchen__item-link">
          <p class="l-kitchen__item-link__text">Восточная</p>
        </a>
      </li>
    </ul>
    <div class="b-search">
      <div class="b-seacrh__content">
        <h1 class="b-search__content-title">Some text {{searchtext}}</h1>
        <form class="b-search__form" action="search" method="get">
          <input class="b-search__form-input" type="text" placeholder="Поиск">
        </form>
      </div>
    </div>
  </div>
</section>
