@import "../../../scss/abstracts/variables.scss";
@import "../../../scss/abstracts/mixins.scss";


.s-rest {
  padding: 50px 0;

  &__title {
    font-size: 50px;
    font-weight: 600;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 15px;
  }
}

.b-rest__content {
  display: flex;
  background: #f7f7f7;
  padding: 20px;
}

.b-rest__side-bar {
  min-width: 350px;
  height: fit-content;
  background-color: $mainColor;
  border: 1px solid;
  padding: 20px;

  &__item {

    &-title {
      font-size: 20px;
      font-weight: 700;
      border-bottom: 1px solid;
      padding: 0 16px 5px;
      margin-bottom: 10px;
    }
  }
}

.l-filter {
  padding: 0;
  margin-bottom: 30px;
}

.b-results {
  padding-left: 20px;
  width: 100%;
}

.l-results {


  &__item {
    width: 100%;
    background-color: $mainColor;
    margin-top: 10px;

    &:first-child {
      margin-top: 0;
    }

    &-content {
      display: flex;
      flex-wrap: wrap;
    }

    &-img {
      width: 350px;
      height: 230px;
      font-size: 0;

      & img {
        width: 100%;
        height: 100%;
      }
    }

    &-info {
      width: 820px;
      padding: 20px;
    }

    &-title {
      font-size: 22px;
      font-weight: 700;
      text-transform: capitalize;
    }

    &-buttons {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      align-items: center;
      margin-bottom: 15px;
    }

    &-text {
      font-size: 20px;
      color: #8c8c8c;
      padding: 10px 0;
    }

    &-menu, &-number {
      display: inline-block;
      font-size: 20px;
      border-bottom: 1px solid;
      padding: 10px 0 3px;
    }

    &-number {
      margin-left: 20px;
    }
  }
}

.b-buttons {
  display: flex;
}

.btn-like, .btn-visited {
  display: flex;
  align-items: center;
  padding: 0 10px;
  border-right: 1px solid #8c8c8c;

  &__text {
    font-size: 18px;
    margin-left: 10px;
  }


  &:hover .btn-like__text {
    text-decoration: underline;
  }
}

.btn-visited {
  border-right: none;

  &:hover .btn-visited__text {
    text-decoration: underline;
  }
}

.b-to-top {
  position: fixed;
  right: 5px;
  bottom: 5px;

  &__img {
    width: 50px;
    height: 50px;
  }
}
