@import "../../../scss/abstracts/variables.scss";
@import "../../../scss/abstracts/mixins.scss";


.s-rest {
  padding: 50px 0;

  &__title {
    font-size: 50px;
    font-weight: 600;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 15px;
  }
}

.b-rest__content {
  display: flex;
  background: #f7f7f7;
  padding: 20px;
}

.b-rest__side-bar {
  min-width: 300px;
  background-color: $mainColor;
  border: 1px solid;
  padding: 20px;

  &__item {

    &-title {
      font-size: 20px;
      font-weight: 700;
      border-bottom: 1px solid;
      padding: 0 16px 5px ;
      margin-bottom: 10px;
    }
  }
}

.l-filter {
  padding: 0;
}

.b-results {
  padding-left: 20px;
  width: 100%;
}

.l-results { 


  &__item{
    width: 100%;
    background-color: $mainColor;
    margin-top: 10px;

    &:first-child {
      margin-top: 0;
    }
    
    &-content {
      display: flex;
      flex-wrap: wrap;

      &__img {
        width: 350px;
        height: 230px;
        font-size: 0;

        & img {
          width: 100%;
          height: 100%;
        }
      }

      &__info {
        padding: 20px 0;
        margin-left: 20px;

        &-title {
          font-size: 25px;
          font-weight: 700;
          text-transform: capitalize;
          margin-bottom: 30px;
        }

        &-text {
          font-size: 20px;
          color: #8c8c8c;
          padding: 10px 0;
        }

        &-menu, &-number {
          display: inline-block;
          font-size: 20px;
          border-bottom: 1px solid;
          padding: 10px 0 3px;
        }

        &-number {
          margin-left: 20px;
        }
      }
    }
  }
}
