<section class="s-rest">
  <div class="container">
    <h1 class="s-rest__title">
      Рестораны минска
    </h1>

    <div class="b-rest__content">
      <aside class="b-rest__side-bar">
        <div class="b-rest__side-bar__item">
          <h3 class="b-rest__side-bar__item-title">Кухня</h3>
          <mat-selection-list 
            class="l-filter" 
            [(ngModel)]="filters.kitchen" 
            (ngModelChange)="onFilerChange()"
          >
            <mat-list-option 
              class="l-filter__option" 
              *ngFor="let item of kitchen"
              [value]="item"
            >
              {{item}}
            </mat-list-option>
          </mat-selection-list>
          <h3 class="b-rest__side-bar__item-title">Тип заведения</h3>
          <mat-selection-list 
            class="l-filter"
            [(ngModel)]="filters.type" 
            (ngModelChange)="onFilerChange()"
          >
            <mat-list-option 
              *ngFor="let item of type"
              class="l-filter__option" 
              [value]="item"
            >
              {{item}}
            </mat-list-option>
          </mat-selection-list>
          <h3 class="b-rest__side-bar__item-title">Особенности ресторана</h3>
          <mat-selection-list 
            class="l-filter"
            [(ngModel)]="filters.features" 
            (ngModelChange)="onFilerChange()"
          >
            <mat-list-option 
              class="l-filter__option" 
              *ngFor="let item of features"
              [value]="item"
            >
              {{item}}
            </mat-list-option>
          </mat-selection-list>
        </div>
      </aside>

      <div class="b-results">
        <ul class="l-results">
          <li class="l-results__item" *ngFor="let item of restaurants">
            <div class="l-results__item-content">
              <div class="l-results__item-img">
                <a [routerLink]="['/restaurants', item.id]">
                  <img src="{{item.images[0]}}" title="{{item.name}}" alt="{{item.name}}">
                </a>
              </div>
              <div class="l-results__item-info">
                <div class="l-results__item-buttons">
                  <a [routerLink]="['/restaurants', item.id]" class="l-results__item-title">{{item.name}}</a>
                  <div class="b-buttons">
                    <button class="btn-like" type="submit">
                      <svg class="btn-like__icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 4.248c-3.148-5.402-12-3.825-12 2.944 0 4.661 5.571 9.427 12 15.808 6.43-6.381 12-11.147 12-15.808 0-6.792-8.875-8.306-12-2.944z"/></svg>
                      <p class="btn-like__text">Добавить в избранные</p>
                    </button>
                    <button class="btn-visited" type="submit">
                      <svg class="btn-visited__icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm-1.25 17.292l-4.5-4.364 1.857-1.858 2.643 2.506 5.643-5.784 1.857 1.857-7.5 7.643z"/></svg>
                      <p class="btn-visited__text">Добавить в посещенные</p>
                    </button>
                  </div>
                </div>
                <p class="l-results__item-text">{{item.time}}</p>
                <p class="l-results__item-text">{{item.kitchen}}</p>
                <a href="{{item.menuLink}}" class="l-results__item-menu">Меню</a>
                <a href="tel:{{item.phoneNumber}}" class="l-results__item-number">{{item.phoneNumber}}</a>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="b-to-top">
      <a class="b-to-top__link" routerLink="restaurants" onclick="window.scroll(0,0);">
        <img class="b-to-top__img" src="assets/button-up.svg" alt="button-up">
      </a>
    </div>
  </div>
</section>
