<section class="s-rest">
  <div class="container">

    <h1 class="s-rest__title">
      Рестораны минска
    </h1>

    <div class="b-filters">
      <button type="button" class="btn-open-filters" (click)="openFilters()">
        <div>Поиск по фильтрам</div>
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M0 7.33l2.829-2.83 9.175 9.339 9.167-9.339 2.829 2.83-11.996 12.17z"/></svg>
      </button>
    </div>

    <div class="b-rest__content">
      <aside class="b-rest__side-bar" (click)="closeFilters($event)">
        <div class="b-rest__side-bar__item">
          <h3 class="b-rest__side-bar__item-title">Кухня</h3>
          <mat-selection-list
            class="l-filter"
            [(ngModel)]="filters.kitchen"
            (ngModelChange)="onFilerChange()"
          >
            <mat-list-option
              class="l-filter__option"
              *ngFor="let item of kitchen"
              [value]="item"
            >
              {{item}}
            </mat-list-option>
          </mat-selection-list>

          <h3 class="b-rest__side-bar__item-title">Тип заведения</h3>
          <mat-selection-list
            class="l-filter"
            [(ngModel)]="filters.type"
            (ngModelChange)="onFilerChange()"
          >
            <mat-list-option
              *ngFor="let item of type"
              class="l-filter__option"
              [value]="item"
            >
              {{item}}
            </mat-list-option>
          </mat-selection-list>

          <h3 class="b-rest__side-bar__item-title">Особенности ресторана</h3>
          <mat-selection-list
            class="l-filter"
            [(ngModel)]="filters.features"
            (ngModelChange)="onFilerChange()"
          >
            <mat-list-option
              class="l-filter__option"
              *ngFor="let item of features"
              [value]="item"
            >
              {{item}}
            </mat-list-option>
          </mat-selection-list>
        </div>
      </aside>

      <div class="b-results">
        <ul class="l-results">
          <li class="l-results__item" *ngFor="let item of restaurants">
            <app-restaurant-item [item]="item"></app-restaurant-item>
          </li>
        </ul>
      </div>
    </div>
    <div class="b-to-top">
      <a class="b-to-top__link" routerLink="/restaurants" onclick="window.scroll(0,0);">
        <img class="b-to-top__img" src="assets/button-up.svg" alt="button-up">
      </a>
    </div>
  </div>
</section>
