<div class="b-restaurant__content" *ngIf="item">
  <div class="b-restaurant__img">
    <a [routerLink]="['/restaurants', item.id]">
      <img src="{{item.images[0]}}" title="{{item.name}}" alt="{{item.name}}">
    </a>
  </div>
  <div class="b-restaurant__info">
    <div class="b-restaurant__buttons">
      <a [routerLink]="['/restaurants', item.id]" class="b-restaurant__title">{{item.name}}</a>
      <div class="b-buttons" *ngIf="userService.usersData$ | async">
        <button class="btn-like" type="submit">
          <svg class="btn-like__icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 4.248c-3.148-5.402-12-3.825-12 2.944 0 4.661 5.571 9.427 12 15.808 6.43-6.381 12-11.147 12-15.808 0-6.792-8.875-8.306-12-2.944z"/></svg>
          <p class="btn-like__text">Добавить в избранные</p>
        </button>
      </div>
    </div>
    <p class="b-restaurant__text">{{item.time}}</p>
    <p class="b-restaurant__text">{{item.kitchen}}</p>
    <a href="{{item.menuLink}}" class="b-restaurant__menu">Меню</a>
    <a href="tel:{{item.phoneNumber}}" class="b-restaurant__number">{{item.phoneNumber}}</a>
  </div>
</div>
