@import "abstracts/variables.scss";
@import "abstracts/mixins.scss";

.f-entry {
  width: 500px;
  height: 100%;
  margin: 0 auto;
  padding: 50px;
  border: 3px solid #000;
  border-radius: 0;
  overflow-y: scroll;

  &__text {

    &-entry {
      text-align: center;
      font-size: 30px;
    }
  }

  &__input {
    color: $secondColor;
    font-size: 20px;
  }

  &__line {
    display: block;
  }

  &__field {
    font-size: 25px;
  }

  &__btn {
    width: 100%;
    margin-top: 20px;

    &-entry {
      width: 100%;
      padding: 10px 0;
      font-size: 25px;
    }
  }

  &__failed {
    margin-top: 10px;
    text-align: center;
    color: $secondColor;
  }
}

.mat-raised-button {
  background-color: black;
  color: $mainColor;
  font-size: 20px;
}

@include largeDesktops {
  .f-entry {
    padding: 25px;
    width: 350px;

    &__text-enty {
      font-size: 20px;
    }

    &__input {
      font-size: 18px;
    }

    &__field {
      font-size: 20px;
    }

    &__btn-entry {
      font-size: 20px;
    }
  }
}

@include landscapePhones {
  .f-entry {
    padding: 15px;
    width: 300px;
    font-size: 22px;

    &__text-enty {
      font-size: 18px;
    }

    &__input {
      font-size: 16px;
    }

    &__field {
      font-size: 18px;
    }

    &__btn-entry {
      font-size: 18px;
    }
  }
}

