<form
  class="f-entry"
  action="#"
  name="sign-in"
  [formGroup]="signInForm"
  (submit)="onSignInSubmit($event)"
>
  <div class="f-entry__text">
    <h2 class="f-entry__text-entry">Вход</h2>
  </div>

  <mat-form-field class="f-entry__line">
    <mat-label class="f-entry__input">Логин</mat-label>
    <input
      type="text"
      name="login"
      formControlName="login"
      placeholder="Логин"
      class="f-entry__field"
      matInput
    >
    <mat-error *ngIf="signInForm.controls.login.hasError('required')">
      Заполните поле!
    </mat-error>
  </mat-form-field>

  <mat-form-field class="f-entry__line">
    <mat-label class="f-entry__input">Пароль</mat-label>
    <input
      type="password"
      name="password"
      formControlName="password"
      placeholder="Пароль"
      class="f-entry__field"
      matInput
    >
    <mat-error *ngIf="signInForm.controls.password.hasError('required')">
      Заполните поле!
    </mat-error>
    <mat-error *ngIf="signInForm.controls.password.hasError('minlength')">
      Пароль должен содержать минимум 6 символов
    </mat-error>
    <mat-error *ngIf="signInForm.controls.password.hasError('maxlength')">
      Пароль должен содержать максимум 20 символов
    </mat-error>
  </mat-form-field>

  <div class="f-entry__btn">
    <button class="f-entry__btn-entry" type="submit" mat-raised-button>Войти</button>
  </div>
</form>
