@import "base/fonts.scss";
@import "base/reset.scss";
@import "abstracts/mixins.scss";
@import "abstracts/variables.scss";




*{
  box-sizing: border-box;
  font-family: $mainFont;
}

.container {
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 10px;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-raised-button {
  background-color: black;
  color: #ffffff;
  font-size: 20px;
}

.myapp-style-dialog .mat-dialog-container {
  padding: 0;
  border-radius: 10px;
}
