@import "base/fonts.scss";
@import "base/reset.scss";
@import "abstracts/mixins.scss";
@import "abstracts/variables.scss";




*{
  box-sizing: border-box;
  font-family: $mainFont;
}

html, body {
  height: 100%;
}

.container {
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 10px;
}

.mat-raised-button {
  background-color: black;
  color: #ffffff;
  font-size: 20px;
}

.myapp-style-dialog .mat-dialog-container {
  padding: 0;
}
